<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="header">
        <h1>Details Kunde X</h1>
    </div>

    <form>
        <div id="details_md_links">
            <label for="bezeichung">
                Bezeichnung: <input id="bezeichung" name="bezeichung"/>
            </label>
            <label for="ap">
                Ansprechpartner: <input id="ap" name="ap"/>
            </label>
        </div>

        <div id="details_md_rechts">
            <label for="id">
                ID: <input id="id" name="id"/>
            </label>
            <label for="nummer">
                Nummer: <input id="nummer" name="nummer"/>
            </label>
            <label for="ort">
                Ort: <input id="ort" name="ort" />
            </label>
        </div>
    </form>

    <div id="footer">
        <input type="submit" value="Speichern" />
        <input type="submit" value="Abbrechen" />
    </div>
</body>
</html>
